# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Test coverage output
coverage/

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

/.yarn
*.gz
.yarn/install-state.gz
