/* general.css */
:root {
  --color-bg: #f4f4f4;
  --color-text: #333;
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-secondary: #6c757d;
  --color-border: #ddd;
  --color-card: #ffffff;
  --color-muted: #6c757d;
  --color-success: #28a745;
  --color-error: #dc3545;
  --color-accent: #cdca67;
  --color-accent-hover: #e0dfbf;
}

body.theme-dark {
  --color-bg: #1e1e1e;
  --color-text: #f4f4f4;
  --color-primary: #4a90e2;
  --color-primary-hover: #357ae8;
  --color-secondary: #6c757d;
  --color-border: #444;
  --color-card: #2c2c2c;
  --color-muted: #aaaaaa;
  --color-accent: #756f00;
  --color-accent-hover: #5e5800;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}
body,
.main-content {
  padding-top: 80px; /* Add padding to make room for the tab bar at the top */
}
html,
body {
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
  padding: 20px;
  text-align: center;
}

h1 {
  color: var(--color-text);
  font-weight: bold;
  font-size: 24px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

